html {
	height: 100vh;
}
body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-family: 'Rubik Mono One', monospace;
	height: 100%;
}

body > div {
	height: 100%;
}

img {
	filter: grayscale(1);
}

div {
	filter: grayscale(1);
}
