.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main__content > * {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}
.main__header {
  font-size: 30px;
  padding: 0 20%;
  margin-bottom: 3%;
  background: url('./assets/bg-heading.jpg');
  box-shadow: 0px 30px 700px black;
}
.main__header h2 {
  padding: 0;
  margin: 0;
}
