.navbar{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(233, 232, 232, 0.678);
    width: 80%;
    border: 1px solid lightgrey;
    border-top:none;
    box-shadow: 0px 10px 700px black;
}
.navbar__logo, .logo{
    margin: 0;
    padding: 0;
    margin-left: 5em;
    width: 10%;
}
.navbar__logo>img, .logo>img{
    width: 90px;
    margin: 0;
    padding: 0;
}
.navbar__links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.navbar__links .navbar__link{
    padding: 1em 2em ; 
    border-right: 1px solid lightgrey;
}
.navbar__links .navbar__link:last-child{
    border-right:none;
}
.navbar__links a {
    padding: 1%;
    font-size: 28px;
    text-decoration: none;
}
.navbar__login{
    width: 10%;
    padding: .5em;
}
.navbar__login button{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 1.5em .5em;
    border-radius: 50%;
    box-shadow: 5px 10px 30px grey;
}
